.popup__close-button {
  width: 32px;
  height: 32px;
  background: url(../../../images/icon-close.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  z-index: 99;
  border: none;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 599px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    top: -36px;
    right: 0;
  }
}
