.profile__name {
  max-width: 294px;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: name;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 895px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: 46px;
    max-width: 190px;
  }
}
