body {
  background-color: #000000;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__photo/elements__photo.css);
@import url(./blocks/elements/__bottom-part/elements__bottom-part.css);
@import url(./blocks/elements/__heading/elements__heading.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__error-message/popup__error-message.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit-icon/profile__avatar-edit-icon.css);
@import url(./blocks/login-register/login-register.css);
@import url(./blocks/login-register/__title/login-register__title.css);
@import url(./blocks/login-register/__text/login-register__text.css);
@import url(./blocks/login-register/__input/login-register__input.css);
@import url(./blocks/login-register/__button/login-register__button.css);
@import url(./blocks/header/__login-logout-text/header__login-logout-text.css);
@import url(./blocks/popup/__success-icon/popup__success-fail-icon.css);
@import url(./blocks/popup/__success-fail-text/popup__success-fail-text.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__menu-button/header__menu-button.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/__login-block/header__login-block.css);
