.profile__about {
  max-width: 336px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 895px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
